[kube_control_plane]
{% for instance in gcp_instances.results %}
{% if instance.name is defined and instance.skipped is not defined and instance.item.item.role == 'master' %}
{{ instance.name }} ansible_host={{ instance.networkInterfaces[0].accessConfigs[0].natIP }} ip={{ instance.networkInterfaces[0].networkIP }} etcd_member_name={{ instance.name | replace('-', '_') }}
{% endif %}
{% endfor %}

[kube_node]
{% for instance in gcp_instances.results %}
{% if instance.name is defined and instance.skipped is not defined and instance.item.item.role == 'worker' %}
{{ instance.name }} ansible_host={{ instance.networkInterfaces[0].accessConfigs[0].natIP }} ip={{ instance.networkInterfaces[0].networkIP }}
{% endif %}
{% endfor %}

[etcd:children]
kube_control_plane

[k8s_cluster:children]
kube_control_plane
kube_node