[Unit]
Description=Patroni – PostgreSQL High Availability
Documentation=https://patroni.readthedocs.io
After=network.target etcd.service
Wants=network-online.target

[Service]
Type=simple
User=postgres
Group=postgres
Environment="PATRONI_CONFIG_LOCATION={{ patroni_config_dir }}/patroni.yml"
ExecStart=/usr/local/bin/patroni {{ patroni_config_dir }}/patroni.yml
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=30
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
LimitNPROC=65536
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
