[Unit]
Description=etcd – highly available key-value store
Documentation=https://etcd.io/docs
After=network.target
Wants=network-online.target

[Service]
Type=notify
EnvironmentFile={{ etcd_config_dir }}/etcd.conf
ExecStart=/usr/bin/etcd
Restart=on-failure
RestartSec=5
StartLimitInterval=60
StartLimitBurst=3
LimitNOFILE=65536
LimitNPROC=65536

[Install]
WantedBy=multi-user.target
